@model IEnumerable<Url>

@{
    ViewData["Title"] = "Urls";
}

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-sm-12 offset-lg-1">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td></td>
                        <th>Destination</th>
                        <th>Clicks</th>
                        <th>ShortCode</th>
                        <th>Created</th>
                        <th>Expires</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        string url = HttpContextAccessor.HttpContext.Request.Host.Value;
                        var newUrl = $"https://{url}/A/{item.ShortCode}";

                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Destination</td>
                            <td>@item?.Clicks</td>
                            <td><a href="@newUrl" target="_blank">@newUrl</a></td>
                            <td>@item.Created.ToString("ddd dd MMM yyyy")</td>
                            <td>@item.Delete.ToString("ddd dd MMM yyyy")</td>
                            <td>
                                <a asp-action="Delete" asp-controller="Urls" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>